ColumnLimit: 120
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
IndentCaseLabels  : true

  
SpacesInAngles: false
BreakTemplateDeclarations : Yes
SpacesInParentheses: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortEnumsOnASingleLine: true
BinPackArguments : true
BinPackParameters: true
IndentWidth: 2
UseTab: Never
PenaltyBreakAssignment: 1000
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: None
