ColumnLimit: 150
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
AlignAfterOpenBracket: Align
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeLambdaBody: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false
IndentCaseLabels: true

  
SpacesInAngles: false
BreakTemplateDeclarations : Yes
SpacesInParentheses: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortEnumsOnASingleLine: true
BinPackArguments : true
BinPackParameters: true
IndentWidth: 2
UseTab: Never
PenaltyBreakAssignment: 1000
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: None
