# Configuration for clangd
CompileFlags:
  # Treat code as C++
  Add: 
  # Clangd seems to have trouble finding these paths in the compile_commands.json unless we explicitly add then here?!
    - "-isystem/workspaces/top-down-maze-procedural/build/_deps/spdlog-src/include"
    - "-isystem/workspaces/top-down-maze-procedural/build/_deps/sfml-src/include"
    - "-isystem/workspaces/top-down-maze-procedural/build/_deps/entt-src/src"
    - "-isystem/workspaces/top-down-maze-procedural/inc"
    - "-isystem/workspaces/top-down-maze-procedural/inc/Systems"
    - "-isystem/workspaces/top-down-maze-procedural/inc/Components"
    - "-isystem/workspaces/top-down-maze-procedural/inc/Sprites"
    - "-isystem/workspaces/top-down-maze-procedural/inc/Logging"
  # Prevent -fmodules error
  Remove: [-m*, -f*]
  